<div class="bg-gradient-primary">
  <%= render partial: 'shared/messages' %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Change Your Password</h1>
                  </div>
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                    <%= f.hidden_field :reset_password_token %>
                    <div class="form-group">

                      <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', placeholder: 'New Password' class: 'form-control form-control-user' %>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                      <% end %>
                      <small class="text-primary"><%= resource.errors[:password].to_sentence %></small>
                    </div>

                    <div class="form-group">
                      <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Confirm New Password', class: 'form-control form-control-user' %>
                      <small class="text-primary"><%= resource.errors[:password_confirmation].to_sentence %></small>
                    </div>

                    <%= f.submit 'Change my password', class: 'btn btn-primary btn-user btn-block' %
                  <% end %>
                  <hr>
                  <div class="text-center">
                    <%= link_to 'Create an Account!', new_registration_path(resource_name), class: 'small' %>
                  </div>
                  <div class="text-center">
                    <%= link_to 'Already have an account? Login!', new_session_path(resource_name), class: 'small' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
